gradio==3.28.0
openai
langchain==0.0.330
loguru
mdtex2html
Pygments
markdown
markdown2
faiss-cpu
unstructured
PyPDF2
pdfplumber
sqlalchemy
tabulate
pymysql
tiktoken
nltk~=3.8.1
sentence_transformers==2.2.2